[tool.poetry]
name = "textlong"
version = "0.1.6"
description = "A framework designed to produce long-texts with GPT or other large language models."
authors = ["arcstep <43801@qq.com>"]
homepage = "https://github.com/arcstep/textlong"
repository = "https://github.com/arcstep/textlong.git"
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
pydantic = ">=1,<3"
langchain = ">=0.1.0,<0.3.0"
python-dotenv = "^1.0.1"
python-statemachine = "^2.2.0"
pydot = "^2.0.0"
langchain-community = ">=0.0.38,<0.3.0"

[tool.poetry.group.dev.dependencies]
asyncio = "^3.4.3"
setuptools = "^69.1.0"
poetry2setup = "^1.1.0"
ipykernel = "^6.29.2"
pytest = "^8.0.1"
pydantic = "1.10.13"
docx2txt = "^0.8"
pypdf = "^4.1.0"
markdown = "^3.6"
langchain-openai = "^0.1.7"
langchain-zhipu = "^4.1.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.packages]]
include = "textlong/**/*"