[tool.poetry]
name = "illufly"
version = "0.5.10"
description = "A simple Agent framework based on GPT with auto-evolution ability."
authors = ["arcstep <xuehongwei@illufly.com>"]
homepage = "https://github.com/arcstep/illufly"
repository = "https://github.com/arcstep/illufly.git"
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<4"
mistune = "^3.0.2"
pandas = "^2.2.2"
python-jose = "^3.3.0"
fastapi = "^0.111.0"
chevron = "^0.14.0"
faiss-cpu = "^1.8.0.post1"
tiktoken = "^0.7.0"
asyncio = "^3.4.3"
aiohttp = "^3.10.10"
seaborn = "^0.13.2"
tabulate = "^0.9.0"
scipy = "^1.14.1"
matplotlib = "^3.9.2"

[tool.poetry.group.dev.dependencies]
python-dotenv = "^1.0.1"
pydot = "^2.0.0"
fastapi = "^0.111.0"
setuptools = "^69.1.0"
poetry2setup = "^1.1.0"
ipykernel = "^6.29.2"
pytest = "^8.0.1"
markdown = "^3.6"
sse-starlette = "^2.1.2"
torch = "2.0.1"
sentence-transformers = "^3.1.1"
gradio = "^5.1.0"
dashscope = "^1.20.11"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.packages]]
include = "illufly/**/*"