[tool.poetry]
name = "langchain_chinese"
version = "0.2.15"
description = "Prepare some firendly tool for Chinese LLMs and langchain"
authors = ["arcstep <43801@qq.com>"]
homepage = "https://github.com/arcstep/langchain_chinese"
repository = "https://github.com/arcstep/langchain_chinese.git"
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
asyncio = "^3.4.3"
pydantic = ">=1,<3"
langchain = "^0.1.10"
langchain-community = "^0.0.25"
langchain_zhipu = "^4.0.10"
sentence-transformers = "^2.5.1"
docx2txt = "^0.8"
pypdf = "^4.1.0"

[tool.poetry.group.dev.dependencies]
setuptools = "^69.1.0"
poetry2setup = "^1.1.0"
python-dotenv = "^1.0.1"
ipykernel = "^6.29.2"
pytest = "^8.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.packages]]
include = "langchain_chinese/**/*"